.formContainer {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-medium);
}

.label {

}

.input {
    border: 1px solid gray;
    margin-bottom: 1rem;
}

.submitBtn {
    
}

.successMsg {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-medium);
}

.errorMsg {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-medium);
}