.footer {
    background-color: var(--color-accent-500);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-medium);
    margin-top: auto;
    color: var(--color-white);
    text-align: center;
    padding: 2rem;
}