@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --color-neutral-800: #343432;
    --color-neutral-400: #7a7a7a;
    --color-neutral-200: #e1e1de;

    --color-accent-100: #bee0f9;
    --color-accent-500: #0095ff;
    --color-accent-900: #0095ff7e;

    --font-family-primary: 'Raleway', sans-serif;
    --font-family-secondary: 'Raleway', sans-serif;
    --font-family-tertiary: 'Lobster', cursive;

    --font-weight-regular: 300;
    --font-weight-semibold: 400;
    --font-weight-bold: 700;

    --font-size-xsmall: 1.2rem;
    --font-size-small: 1.75rem;
    --font-size-medium: 2.1rem;
    --font-size-large: 3rem;
    --font-size-xlarge: 5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

html,
body {
    height: 100%;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}