@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

.heading_box {
    display: flex;
    background-color: #343432;
    padding: 1.5rem;
    align-items: center;
}

.logo {
    max-width: 6%;
    min-width: 3rem;
}

.business_name {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 4vw;
    letter-spacing: 0.35rem;
    padding-left: 1.5rem;
}

@media screen and (max-width: 375px) {
    .heading_box {
        font-size: 1rem;
        padding: 0.5rem;
    }
}