.pageMask {
    display: none;
}

.pageMaskActive {
    position: fixed;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(0.7px);
    z-index: 1;
    animation: fadeInFromNone 0.3s ease-in;
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.header {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-medium);
    width: 100%;
    position: fixed;
    background-color: var(--color-white);
    z-index: 3;
}

.spacer {
    height: 6rem;
}

.headerTop {
    display: flex;
    align-items: center;
    padding: 1rem 4rem;
    border-bottom: 1px solid var(--color-neutral-200);
}

.headerBottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;
    padding: 2rem 4rem;
}

.headerLogo {
    position: absolute;
    width: 12rem;
    left: -0.1rem;
    z-index: -1000;
}

.heading {
    font-size: var(--font-size-xlarge);
    letter-spacing: 0.2rem;
}

.tagline {
    font-family: var(--font-family-tertiary);
    flex-grow: 1;
    font-size: var(--font-size-medium);
}

.navList, .navListActive {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navItem:nth-of-type(1) {
    display: none;
}

.navItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.brushstroke {
    display: none;
}

.navButton {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}
  
.navButton:hover {
    background: linear-gradient(to right, black 0%, black 50%, var(--color-accent-500) 50%, var(--color-accent-500) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.3s ease-in;
    background-size: 200% 100%;
    background-position: -100%;
}

.selectedNavButton {
    color: var(--color-accent-500);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}

.phoneNumber {
    display: flex;
    align-items: center;
    background-color: var(--color-accent-500);
    border-radius: 5px;
    padding: 1rem 2rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
    margin-left: auto;
    box-shadow: var(--color-accent-900) 0px 2px 5px;
    transition-duration: 0.3s
}

.phoneNumber:hover {
    color: var(--color-white);
    transition-duration: 0.3s;
    transform: translate(0px, -4px);
    box-shadow: var(--color-accent-900) 0px 4px 5px;
}

.phoneNumber:active {
    color: var(--color-white);
    transition-duration: 0.15s;
    transform: translate(0px, -1px);
    box-shadow: var(--color-accent-900) 0px 2px 5px;
}

.menu, .menuActive {
    display: none;
    z-index: 4;
}

.menuBar {
    display: block;
    width: 22.5px;
    height: 2px;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

@media only screen and (max-width: 768px) {
    .heading, .headingSelected {
        font-size: var(--font-size-large);
    }

    .headerLogo {
        width: 8rem;
        left: 1rem;
    }

    .phoneNumber {
        font-size: var(--font-size-small);
    }

    .navItem:nth-of-type(1) {
        display: flex;
    }

    .navList, .navListActive {
        position: fixed;
        left: -100%;
        top: 0;
        flex-direction: column;
        gap: 0rem;
        background-color: var(--color-white);;
        width: 50%;
        height: 100%;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 2;
    }

    .navListActive {
        left: 0;
    }

    .navItem {
        padding: 1rem;
        border-bottom: 1px solid var(--color-neutral-200);
        width: 100%;
        justify-content: center;
    }

    .brushstroke {
        position: absolute;
        z-index: 1;
        display: block;
        width: 15rem;
    }

    .navButton, .selectedNavButton {
        font-size: var(--font-size-medium);
        z-index: 2;
        margin-left: 3rem;
    }

    .menu, .menuActive {
        display: block;
        cursor: pointer;
        margin-left: auto;
    }

    .menuActive .menuBar:nth-child(2) {
        opacity: 0;
    }

    .menuActive .menuBar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menuActive .menuBar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 493px) {
    .headerTop {
        padding: 1rem 2rem;
    }

    .headerBottom {
        padding: 1rem 2rem;
    }

    .heading {
        font-size: var(--font-size-smedium);
    }

    .headerLogo {
        width: 6rem;
        left: -0.2rem;
    }

    .phoneNumber {
        font-size: var(--font-size-small);
        padding: 0.5rem 1rem;
    }

    .tagline {
        font-size: var(--font-size-xsmall);
    }

    .navButton, .selectedNavButton {
        font-size: var(--font-size-small) !important;
    }
}

@media screen and (max-width: 350px) {
    .phoneNumber {
        font-size: var(--font-size-xxsmall);
        padding: 0.5rem 1rem;
    }
}

@media screen and (max-width: 325px) {
    .heading {
        font-size: 1.5rem;
    }

    .tagline {
        font-size: var(--font-size-xxsmall);
    }
}