.ctaContainer {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
}

.ctaBox {
    position: absolute;
    background-color: rgba(59, 59, 59, 0.8);
    border-radius: 5px;
    padding: 4rem;
    margin-left: 4rem;
    width: 48%;
    min-height: fit-content;
}

.ctaHeading {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-xlarge);
    color: var(--color-white);
    width: fit-content;
}

.ctaText {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-large);
    color: var(--color-white);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.ctaButton {
    display: flex;
    gap: 1rem;
    justify-content: center;
    background-color: var(--color-accent-500);
    color: var(--color-white);
    border-radius: 5px;
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    text-align: center;
    box-shadow: var(--color-accent-900) 0px 2px 5px;
    transition-duration: 0.3s;
    width: fit-content;
}

.ctaButton:hover {
    color: var(--color-white);
    transition-duration: 0.3s;
    transform: translate(0px, -4px);
    box-shadow: var(--color-accent-900) 0px 4px 5px;
}

.ctaButton:active {
    color: var(--color-white);
    transition-duration: 0.15s;
    transform: translate(0px, -1px);
    box-shadow: var(--color-accent-900) 0px 2px 5px;
}

.ctaImg {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 80vh;
}

@media screen and (max-width: 768px) {
    .ctaContainer {
        justify-content: center;
        margin-bottom: 2rem;
    }

    .ctaBox {
        margin: 0;
        width: calc(100% - 6rem);
        padding: 2rem;
    }

    .ctaHeading {
        font-size: var(--font-size-medium);
    }

    .ctaText {
        font-size: var(--font-size-small);
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .ctaButton {
        font-size: var(--font-size-small);
        margin-top: 1rem;
    }
}

@media screen and (max-width: 493px) {
    .ctaContainer {
        margin-bottom: 1rem;
    }

    .ctaBox {
        width: calc(100% - 4rem);
    }

    .ctaHeading {
        font-size: var(--font-size-medium);
    }

    .ctaText {
        font-size: var(--font-size-small);
    }

    .ctaButton {
        font-size: var(--font-size-small);
        padding: 0.5rem 1rem;
    }

    .ctaImg {
        height: 250px;
    }
}