/*REMOVE THIS BEFORE PUBLISHING SITE*/
.underConstruction {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-xlarge);
}

.mainParagraph {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-medium);
}

.contactLink {
    color: var(--color-accent-500);
}

.serviceSection {

}

.sectionHeading {
    font-size: var(--font-size-large);
    font-family: var(--font-family-primary);
}

.sectionDescription {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-medium);
}