.ctaContainer {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
}

.ctaBox {
    position: absolute;
    background-color: rgba(59, 59, 59, 0.8);
    border-radius: 5px;
    padding: 4rem;
    margin-left: 4rem;
    width: 48%;
    min-height: fit-content;
}

.ctaHeading {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-xlarge);
    color: var(--color-white);
    width: fit-content;
}

.ctaText {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-large);
    color: var(--color-white);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.ctaButton {
    display: flex;
    gap: 1rem;
    justify-content: center;
    background-color: var(--color-accent-500);
    color: var(--color-white);
    border-radius: 5px;
    padding: 1rem 2rem;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    text-align: center;
    box-shadow: var(--color-accent-900) 0px 2px 5px;
    transition-duration: 0.3s;
    width: fit-content;
}

.ctaButton:hover {
    color: var(--color-white);
    transition-duration: 0.3s;
    transform: translate(0px, -4px);
    box-shadow: var(--color-accent-900) 0px 4px 5px;
}

.ctaButton:active {
    color: var(--color-white);
    transition-duration: 0.15s;
    transform: translate(0px, -1px);
    box-shadow: var(--color-accent-900) 0px 2px 5px;
}

.ctaImg {
    object-fit: cover;
    width: 100%;
}

.mainSection {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-areas: "main-paragraph service-section-1 service-section-2";
    gap: 2rem;
    padding: 0 4rem;
}

.mainParagraph {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-medium);
    grid-area: main-paragraph;
}

.contactLink {
    color: var(--color-accent-500);
}

.serviceSection {
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(91, 91, 91, 0.2);
    transition-duration: 0.2s;
    display: flex;
    flex-direction: column;
}

.serviceSection:nth-of-type(1) {
    grid-area: service-section-1;
}

.serviceSection:nth-of-type(2) {
    grid-area: service-section-2;
}

.serviceSection:hover {
    transition-duration: 0.2s;
    transform: scale(1.01);
}

.serviceSectionImg {
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 250px;
}

.serviceSectionTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-grow: 1;
}

.sectionHeading {
    font-size: var(--font-size-large);
    font-family: var(--font-family-primary);
}

.sectionDescription {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-medium);
}

.buttonPositioner {
    margin-top: auto;
    width: 100%;
}

.serviceSectionButton {
    display: flex;
    gap: 1rem;
    justify-content: center;
    background-color: var(--color-accent-500);
    color: var(--color-white);
    border-radius: 5px;
    padding: 1rem 2rem;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    text-align: center;
    box-shadow: var(--color-accent-900) 0px 2px 5px;
    transition-duration: 0.3s;
    margin-top: 2rem;
}

.serviceSectionButton:hover {
    color: var(--color-white);
    transition-duration: 0.3s;
    transform: translate(0px, -4px);
    box-shadow: var(--color-accent-900) 0px 4px 5px;
}

.serviceSectionButton:active {
    color: var(--color-white);
    transition-duration: 0.15s;
    transform: translate(0px, -1px);
    box-shadow: var(--color-accent-900) 0px 2px 5px;
}

.buttonArrow {
    width: 3rem;
}

@media screen and (max-width: 1080px) {
    .ctaBox {
        padding: 2rem;
    }

    .ctaHeading {
        font-size: var(--font-size-large);
    } 

    .ctaText {
        font-size: var(--font-size-medium);
    }

    .mainSection {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
                            "main-paragraph main-paragraph"
                            "service-section-1 service-section-2";
    }
}

@media screen and (max-width: 768px) {
    .ctaContainer {
        justify-content: center;
        margin-bottom: 2rem;
    }

    .ctaBox {
        margin: 0;
        width: calc(100% - 6rem);
    }

    .ctaHeading {
        font-size: var(--font-size-medium);
    }

    .ctaText {
        font-size: var(--font-size-small);
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .ctaButton {
        font-size: var(--font-size-small);
    }

    .mainSection {
        padding: 1rem 2rem 0 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "main-paragraph"
                            "service-section-1"
                            "service-section-2";
    }

    .mainParagraph {
        font-size: var(--font-size-small);
    }

    .sectionHeading {
        font-size: var(--font-size-medium);
    }

    .sectionDescription {
        font-size: var(--font-size-small);
    }

    .serviceSectionButton {
        font-size: var(--font-size-medium);
    }
}

@media screen and (max-width: 493px) {
    .ctaContainer {
        margin-bottom: 1rem;
    }

    .ctaBox {
        width: calc(100% - 4rem);
    }

    .ctaHeading {
        font-size: var(--font-size-medium);
    }

    .ctaText {
        font-size: var(--font-size-small);
    }

    .ctaButton {
        font-size: var(--font-size-small);
        padding: 0.5rem 1rem;
    }

    .ctaImg {
        height: 250px;
    }

    .mainParagraph {
        font-size: var(--font-size-xsmall);
    }

    .sectionHeading {
        font-size: var(--font-size-small);
    }

    .sectionDescription {
        font-size: var(--font-size-xsmall);
    }
    
    .serviceSectionImg {
        height: 321px;
    }

    .serviceSectionButton {
        font-size: var(--font-size-small);
    }
}

@media screen and (max-width: 375px) {    
    .serviceSectionImg {
        height: 250px;
    }
}