.mainTextContainer {
    padding: 2rem 4rem;
}

.mainHeading {
    font-size: var(--font-size-large);
    font-family: var(--font-family-primary);
    text-align: center;
}

.mainParagraph {
    font-size: var(--font-size-medium);
    font-family: var(--font-family-secondary);
}

.contactLink {
    color: var(--color-accent-500);
}

.servicesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding: 1rem 4rem;
}

.service {
    border: 1px solid var(--color-neutral-200);
    padding: 1rem;
    border-radius: 5px;
}

.serviceHeading {
    font-size: var(--font-size-large);
    font-family: var(--font-family-primary);
    color: var(--color-accent-500);
}

.serviceDescription {
    font-size: var(--font-size-small);
    font-family: var(--font-family-secondary);
}

@media screen and (max-width: 768px) {
    .mainHeading {
        font-size: var(--font-size-medium);
    }
    
    .mainParagraph {
        font-size: var(--font-size-small);
    }

    .servicesContainer {
        grid-template-columns: 1fr;
    }

    .serviceHeading {
        font-size: var(--font-size-medium);
    }

    .serviceDescription {
        font-size: var(--font-size-small);
    }
}

@media screen and (max-width: 493px) {
    .mainTextContainer {
        padding: 2rem 2rem;
    }

    .servicesContainer {
        padding: 1rem 2rem;
    }

    .mainHeading {
        font-size: var(--font-size-small);
    }

    .mainParagraph {
        font-size: var(--font-size-xsmall);
    }

    .serviceHeading {
        font-size: var(--font-size-small);
    }

    .serviceDescription {
        font-size: var(--font-size-xsmall);
    }
}