.mainTextContainer {
    padding: 0 4rem 2rem 4rem;
}

.mainHeading {
    font-size: var(--font-size-large);
    font-family: var(--font-family-primary);
    text-align: center;
}

.mainParagraph {
    font-size: var(--font-size-medium);
    font-family: var(--font-family-secondary);
}

@media screen and (max-width: 768px) {
    .mainHeading {
        font-size: var(--font-size-medium);
    }

    .mainParagraph {
        font-size: var(--font-size-small);
    }
}

@media screen and (max-width: 493px) {
    .mainTextContainer {
        padding: 0 2rem;
    }

    .mainHeading {
        font-size: var(--font-size-small);
    }

    .mainParagraph {
        font-size: var(--font-size-xsmall);
    }
}